CompileFlags:
  Add:
    - "-Wno-unknown-argument"
    - "--target=arm-none-eabi"
    - "-D__3DS__"
    - "-D__arm__"
    - "-DARM11"
    - "-D_COMPILING_NEWLIB"
    # Ensure 3DS headers are found
    - "-isystem"
    - "${CTRULIB}/include"
    - "-isystem"
    - "${DEVKITARM}/arm-none-eabi/include"
    # This is the "magic" flag for cross-compilers

  Remove:
    - "-mword-relocations"
    - "-march=*"
    - "-mtune=*"

Index:
  Background: Build
