CompileFlags:
  Add:
    - "-Wno-unknown-argument"
    - "--target=arm-none-eabi"
    - "-D__3DS__"
    - "-D__arm__"
    - "-DARM11"
    - "-isystem"
    - "/nix/store/3w8nr2njb5nl2lbd8y773l8j5mb8hvwn-devkitARM/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/15.2.0"
    - "-isystem"
    - "/nix/store/3w8nr2njb5nl2lbd8y773l8j5mb8hvwn-devkitARM/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/15.2.0/arm-none-eabi"
    - "-isystem"
    - "/nix/store/3w8nr2njb5nl2lbd8y773l8j5mb8hvwn-devkitARM/opt/devkitpro/devkitARM/arm-none-eabi/include"
    - "-isystem"
    - "/nix/store/3w8nr2njb5nl2lbd8y773l8j5mb8hvwn-devkitARM/opt/devkitpro/libctru/include"

  Remove:
    - "-mword-relocations"
    - "-march=*"
    - "-mtune=*"

Index:
  Background: Build
